ul li {
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px 15px 25px;
    width: 150px; /*this is important to set so our drop-down doesn't go across the page*/
    margin-top: 0;
    margin-left: 10px;
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
    text-align: center;
    font-weight: bold;
    color: #004225;
    float: left;
}

.active a:link {
    background-color:#D9E3DF; 
}

nav>ul li {
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
    text-align: center;
    font-weight: bold;
    color:white;
    float: left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px 15px 25px;
    width: 150px; /*this is important to set so our drop-down doesn't go across the page*/
    margin-top: 0;
    margin-left: 10px;
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
}

/*format all navigation <a> elements*/
nav a:link{
    background-color:#D9E3DF;
}
nav a:hover, nav a:focus {
    background-color: #D9E3DF;
}
nav a:active{
    background-color:#004225;
}

/*position sub-menu or drop-down*/
nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

/*special hover to display the drop-down*/
nav>ul>li:hover>ul{
    display: block;
}
