
nav>ul li {
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 25px;
    width: 150px;
    list-style-type: none;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px 15px 15px 25px;
    margin-top: 0;
    margin-left: 10px;

}

nav a {
    text-decoration: none;
    display: inline-block;
    border: solid #004225;
    color: white;
    border-radius: 25px;
    padding: 15px 15px 15px 25px;
    width: 220px; /*this is important to set so our drop-down doesn't go across the page*/
    margin-top: 0;
    margin-left: 0px;
    float: left
    position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
}

/*format all navigation <a> elements*/
nav a:link{
    background-color:#004225;
}
nav a:hover, nav a:focus {
    background-color: #004225;
}

/*position sub-menu or drop-down*/
nav ul>li ul {
    position: relative;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:left;
}

/*special hover to display the drop-down*/
nav>ul>li:hover>ul{
    display: block;
    border-radius: 25px;
    color:white;
}

