#heading1 {color:#004225;}
.paragraph {text-indent: 30px;}
footer {
    position: fixed
}

body {
    margin: 40px;
  }
  
  .sidebar {
      grid-area: sidebar;
    }
  
    .content {
      grid-area: content;
    }
  
    .header {
      grid-area: header;
    }
  
    .footer {
      grid-area: footer;
    }
  
  
    .wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 120px 120px 120px;
      grid-template-areas:
      "....... header header"
      "sidebar content content"
      "footer  footer  footer";
      background-color: #D9E3DF;
      color: black;
    }
  
  
  .box {
    background-color: #D9E3DF;
    color:black;
    border-radius: 5px;
    padding: 10px;
    font-size: 100%;
  }
  
  .header,
  .footer {
    background-color: #D9E3DF;
  }