#heading1 {color:#004225;}
.paragraph {text-indent: 30px;}


*, *:before, *:after {
  box-sizing: border-box;
}
@media print {
    header, footer, aside, form, … {
    display: all;
  }
  article {
    width:100%!important;
    padding:0!important;
    margin:0!important;
  }
}
@page {
  margin: 1in;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #D9E3DF;
  color: black;
}

h1, p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-gap: 0px;
}

@media screen and (min-width: 500px) {

  /* no grid support? */
  .sidebar {
    float: left;
    width: 20%;
    height: 100%;
  }

  .container {
 display: grid;
 align-items: left; 
 grid-template-columns: sidebar;
 column-gap: 0px;
}

img {
display: grid;
align-items: left; 
grid-template-columns: sidebar;max-width: 100%;
max-height: 100%;
}
  
.video {
display: grid;
align-items: center; 
grid-template-columns: sidebar;max-width: 100%;
max-height: 100%;
  }

  .i style:hover {
    font-size: 30px; 
  }


  .content {
    float: right;
    width: 90%;
  }

  .wrapper {
    margin: 0 auto;
    grid-template-columns: 1fr 3fr;
  }
  
  .header, .footer {
    grid-column: 1 / -1;
    /* needed for the floated layout */
    clear: both;

  }
  
  .header {
    text-align: left;
    font-weight: bold;
    background-color: white;

  }

  
.footer {
  font-size: 60%;
  text-align: center;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  overflow: hidden;
  background-image: url(https://kefr7t.github.io/islt_7310/jade.jpg);
  background-position: center center;
  backgroud-repeat: no-repeat;


}
  

.wrapper > * {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
  /* needed for the floated layout*/
  margin-bottom: 10px;
}

/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
  .wrapper > * {
    width: auto;
    margin: 0;
  }
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #004225;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #004225;
}

div.gallery {
  border: 1px solid #004225;
}

div.gallery:hover {
  border: 1px solid #004225;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
